# Node.js dependency folder
node_modules/

# Environment variables file
.env

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log


# OS dosyaları (örneğin, MacOS için .DS_Store)
.DS_Store

# VSCode çalışma dosyaları
.vscode/